<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="base.css">
<title><%= conf.title %></title>
<style type="text/css">
th { font-size:smaller; }
</style>
</head>
<body>
<div id="header">
<%= conf.header %>
</div>
<hr>

<table>
  <tr>
<%  columns = conf.column_label
    columns.each_with_index do |label, i| %>
    <th>
	<% if cgi.sort_by and cgi.sort_by.to_i.abs == i then %>
	<%= label %>
	<% else %>
	<a href="<%= cgi.self_url %>?sort_by=<%= i %>"><%= label %></a>
	<% end %>
    </th>
<% end %>
  </tr>

  <tbody>
<%
((cgi.start)...(cgi.start+conf.display_per_page)).each do |i| %>
<%
  item = csvdata[i]
  break if item.nil?
%>
  <tr id="row<%= i %>">
<%  item.each_with_index do |e, i| %>
    <td class="col<%= i %>"><%= e %></td>
<% end %>
  </tr>
<% end %>
  </tbody>
</table>

<% if csvdata.size > conf.display_per_page %>
<hr>
<p>
Page:
<% (csvdata.size/conf.display_per_page).times do |i| %>
   <% if i*conf.display_per_page == cgi.start %>
[<%= i+1 %>]
   <% else %>
<a href="<%= cgi.self_url %>?sort_by=<%= cgi.sort_by ? cgi.sort_by : "" %>;start=<%= i*conf.display_per_page %>">[<%= i+1 %>]</a>
   <% end %>
<% end %>
<% end %>
<p>
<hr>
<div id="footer">
<%= conf.footer %>
</div>
</body>
</html>
