<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="base.css">
<!-- link rel="stylesheet" href="default.css" type="text/css" -->
<title><%= conf.title %></title>
<style type="text/css">
th { font-size:smaller; }
td { text-align:center; }
.added {
border-left: dashed thin;
padding-left: 10px;
}
</style>
</head>
<body>
<%= conf.header %>
<hr>
<table>
  <tr>
<%  column = conf.column_label
    column.each_with_index do |label, i| %>
    <th>
	<% if cgi.sort_by.nil? or cgi.sort_by == i then %>
	<%= label %>
	<% else %>
	<a href="<%= cgi.self_url %>?sort_by=#{i}"><%= label %></a>
	<% end %>
    </th>
<% end %>
  </tr>

  <tbody>
<%
((cgi.start)...(cgi.start+cgi.num)).each do |i| %>
<%
  #p csvdata
  item = csvdata[i]
  break if item.nil?
%>
  <tr>
<%  column = conf.column_label
    column.each_with_index do |label, i| %>
    <td><%= item[i] %></td>
<% end %>
  </tr>
<% end %>
  </tbody>
</table>
<% if csvdata.size > cgi.num %>
<hr>
<p>
Page:
<% (csvdata.size/cgi.num).times do |i| %>
   <% if i*cgi.num == cgi.start %>
[<%= i+1 %>]
   <% else %>
<a href="<%= cgi.self_url %>?sort_by=<%= cgi.sort_by ? cgi.sort_by : "" %>;start=<%= i*cgi.num %>;num=<%= cgi.num %>">[<%= i+1 %>]</a>
   <% end %>
<% end %>
<% end %>
<p>
<hr>
<address>
<a href="<%= conf.address %>"><%= conf.address %></a>
</address>
</body>
</html>
